body {
  font-family:  'Glory', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Padding for fixed header */
html {
  scroll-padding-top: 295px;
}
@media (min-width: 768px) {
  html {
  scroll-padding-top: 215px; 
  }
}

/* Fixed header*/
.fixed-header {
  background: white;
  width: 100%;
  height: 295px;
  position: fixed;
  top: 0px;
  z-index: 99;
}
@media (min-width: 768px) {
  .fixed-header {
    height: 215px;
  }
}

/*Title and Section*/
.title-section {
 height: 50px;
 margin: 30px 0px;
}

.title {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;	
	text-align: center;
}

/*Nav menu*/
.nav-menu-headings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .nav-menu-headings {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;
  }
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li {
  padding: 5px 0px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 0px 30px;
}

/*Home Page Photo Grid*/
.main-image-grid {
  display:  grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 320px;
}
@media (min-width: 480px) {
  .main-image-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 15px;
    padding:  20px 40px;
    margin-top: 300px;
  }
}
@media (min-width: 768px) {
  .main-image-grid {
    grid-template-rows: 300px;
    margin-top: 200px;
  }
 } 
@media (min-width: 960px) {
  .main-image-grid {
    grid-template-columns: repeat(3, 1fr);
    /*margin-top: 200px;*/
  }
}

.category-container {
  position: relative;
  text-align: center;
  object-fit: cover;
}

.appear-text a {
  color: white;
  font-size: 40px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 80px;
}
@media (min-width: 960px) {
  .appear-text a {
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
} 

.appear-text a:hover {
  opacity: 1;
  z-index: 50;
}

.category-container img {
  width: 100%;
  height: 300px;
  position: relative;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.4s ease-in;
}

/*Touring Page css*/
/*Main Location Headings*/
.location-title-section {
 height: 70px;
 margin: 0px 10px;
 border-radius: 4px;
 background: #6F295BCC;
 color: #C0C0C0;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 768px) {
  .location-title-section {
  height: 50px;
  margin: 20px 10px;
  color: white;
  background: #36454F99;
  }
}
@media (min-width: 960px) {
  .location-title-section {
  margin: 20px 40px;
  }
}

.location-heading {
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase; 
  padding-top: 17px;
  text-align: center;
}
@media (min-width: 480px) {
  .location-heading {
    font-size: 30px;
    padding-top: 10px;
  }
}

/*Blog Section Spacing*/
.blogs {
  margin-top: 350px;
}
@media (min-width: 768px) {
  .blogs {
  margin-top: 220px;
  } 
}

/*Blog Post Grid*/
.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  /*  grid-auto-rows: 200px;*/
  grid-gap: 10px;
 }
@media (min-width: 960px) {
.blog-posts {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0px 40px; 
  }
}

/*Blog Post Containers*/
.travel-locations {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 480px) {
  .travel-locations {
   height: 220px;
   align-items: flex-start;
   flex-direction: row;
   padding: 15px 10px;
 }
}

/*Blog Post Image*/
.travel-locations img {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media (min-width: 480px) {
  .travel-locations img {
    width: 45%;
    height: 190px;
  }
}

/*Blog Text Content Container*/
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  margin: 0px 10px;
}

/*Blog Text Content Heading*/
.blog-heading {
  font-size: 25px;
  color: black ;
}
@media (min-width: 480px) {
  .blog-heading {
    font-size: 22px;
    color: #6F295B;
  }
}

/*Blog Text Formatting*/
.blog-content p {
  font-size: 4vw;
  text-align: justify;
  height: 162px;
  overflow: scroll;
  margin: 3px 0px;
  line-height: 1.2;
}
@media (min-width: 480px) {
.blog-content p {
  font-size: 2vw;
  height: 135px;
  }
}
@media (min-width: 960px) {
.blog-content p {
  font-size: 1.4vw;
  height: 145px;
  }
}

/*Hidden Blog Text*/
#moreText {
  display: none;
}

/*Button Formatiing*/
button {
  font-size: 9px;
  border: 0.5px solid black;
  border-radius: 4px;
  margin-top: 5px;
  cursor: s-resize;
}

.travel-locations.video-link {
  display: flex;
  justify-content: center;
}

.travel-locations.video-link img {
  width: 100%;
  cursor: pointer;
}






