body {
  font-family:  'Glory', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}


/*header*/

.title-section {
 height: 60px;
 margin: 50px 0px;
}

.title {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;	
	text-align: center;
}

/*nav menu*/

.nav-menu-headings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 30px 0px;
}

@media (min-width: 480px) {
  .nav-menu-headings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

li {
  padding: 5px 0px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 0px 30px;
}

/*Photo Grid*/

.main-image-grid {
  display:  grid;
  grid-template-columns: 1fr;
}

@media (min-width: 480px) {
  .main-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  grid-auto-rows: 200px;*/
    grid-gap: 15px 15px;
    padding:  20px 40px;
  }
}

@media (min-width: 768px) {
  .main-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*  grid-auto-rows: 200px;*/
    grid-gap: 15px 15px;
    padding:  20px 40px;
  }
}


.category-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
  /*width: 100%;
  height: auto;*/
  object-fit: cover;
}

.appear-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 /* opacity: 0;*/
  transition: opacity 1s ease-in;
}

.appear-text:hover {
  opacity: 1;
}

.category-container img {
  max-width: 100%;
  position: relative;
  /*max-height: auto;*/
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.4s ease-in;
}

.category-container img:hover {
  /*filter: brightness(50%);*/
  transform: scale(1.1);
  z-index: 2;
}

/*touring page css*/

.location-title-section {
 height: 50px;
 margin: 20px 40px;
 border-radius: 4px;
 background: rgba(123, 123, 124, 0.5);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0px 40px;  
}

.location-heading {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;  
  margin-left: 40px;
  padding-top: 10px;
}

.travel-locations {
  height: 300px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: flex-start;
}

.travel-locations img {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  height: auto;
  margin: 20px;
}
/*????????*/
.location {
  margin-left: 20px;
  flex-grow: 1;
}

.blog-content {
 height: 200px;
 overflow: hidden;

}







